body{
    background-image: url('./pictures/bg-1.jpg');
    background-size: cover;
    box-sizing: border-box;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    
}

.container{
    max-width: 1000px;
}

.image{
    width:20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 5px 5px 8px gray;
}

.myCard {
    position: relative;
    
    max-width: 20rem;
  }

.overlay {
    position: absolute;
    bottom: 0;
    left: auto;
    right: auto;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    width: 20rem;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 6px 6px;
  }

.title{
  color: #DB1F48;
}

h6{
    color:#f1f1f1
}

.myCard:hover .overlay {
    opacity: 1;
} 
.navbar{
    box-shadow: 6px 6px 11px gray;
}

.fromBottom {
    animation-duration: 0.8s;
    animation-name: fadeBottom;
    animation-iteration-count: 1; 
}

.fromLeft{
    animation-duration: 0.8s;
    animation-name: fadeLeft;
    animation-iteration-count: 1; 
}

.fromRight{
    animation-duration: 0.8s;
    animation-name: fadeRight;
    animation-iteration-count: 1; 
}

.fromTop{
    animation-duration: 0.8s;
    animation-name: fadeTop;
    animation-iteration-count: 1; 
}

@keyframes fadeBottom {
    from {
      transform: translateY(50px);
      opacity: 0;
    } 
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

@keyframes fadeLeft {
    from {
      transform: translateX(-50px) ;
      opacity: 0;
    }
    to {
      transform: translateX(0) ;
      opacity: 1;
    }
  }
  
@keyframes fadeRight {
    from {
      transform: translateX(50px) ;
      opacity: 0;
    }
    to {
      transform: translateX(0) ;
      opacity: 1;
    }
}
  
@keyframes fadeTop {
    from {
      transform: translateY(-50px) ;
      opacity: 0;
    }
    to {
      transform: translateX(0) ;
      opacity: 1;
    }
}
  
.myDiv{
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: 7px;
    box-shadow: 6px 6px 11px gray;
    margin: 1.5rem;
}

h1{
    color: black;
    font-weight: 700;
}

#laptop{ 
    color: #DB1F48;
}

.myBtn{
    background-color: #DB1F48;
    color: white;
}

#logo{
    color: whitesmoke; 
    font-size: 1.6rem;
    font-weight: bolder;
    text-shadow: 2px 2px 5px #1e333e;
}

#logo:hover{
    color: #DB1F48;
}

.nav-link{
    border: none;
    background-color: transparent;
}

.nav-link:hover{
    color: #DB1F48;
    border-bottom: 1px solid #DB1F48;
}

.navbar-toggler{
    border: none;
}

p, li{
    color: gray;
    text-align: justify;
}

ul{
    margin-bottom: 0%;
}

li{
    list-style: none;
}

h3{
    color: #01949A;
    font-size: 1.3rem;
}

h4{
    font-weight: bolder;
    color: #DB1F48;
}


.graph0{
  height: 7rem;
  width: 7rem;
  border: 20px solid ;
  border-color:  #DB1F48 #DB1F48 #DB1F48 rgb(185, 185, 185);
  transform: rotate(45deg);
  border-radius: 50%;
  box-shadow: 8px 8px 5px lightgray;
} 
.graph1{
  height: 7rem;
  width: 7rem;
  border: 20px solid;
  border-color:  #DB1F48 #DB1F48 #DB1F48 rgb(185, 185, 185);
  transform: rotate(45deg);
  border-radius: 50%;
  box-shadow: 8px 8px 5px lightgray;
} 
.graph2{
  height: 7rem;
  width: 7rem;
  border: 20px solid ;
  border-color:  #DB1F48 rgb(185, 185, 185) rgb(185, 185, 185) rgb(185, 185, 185);
  transform: rotate(45deg);
  border-radius: 50%;
  box-shadow: 8px 8px 5px lightgray;
} 
.graph3{
  height: 7rem;
  width: 7rem;
  border: 20px solid ;
  border-color:  #DB1F48 #DB1F48 #DB1F48 rgb(185, 185, 185);
  transform: rotate(45deg);
  border-radius: 50%;
  box-shadow: 8px 8px 5px lightgray;
} 
.graph4{
  height: 7rem;
  width: 7rem;
  border: 20px solid ;
  border-color:  #DB1F48 #DB1F48 rgb(185, 185, 185) rgb(185, 185, 185);
  transform: rotate(45deg);
  border-radius: 50%;
  box-shadow: 8px 8px 5px lightgray;
} 
.graph5{
  height: 7rem;
  width: 7rem;
  border: 20px solid ;
  border-color:  #DB1F48 rgb(185, 185, 185) rgb(185, 185, 185) rgb(185, 185, 185);
  transform: rotate(45deg);
  border-radius: 50%;
  box-shadow: 8px 8px 5px lightgray;
} 

.lang{
  transform: rotate(-45deg);
  color: black;
  text-shadow: 5px 5px 5px lightgray;
}

.langues{
  color: black;
  font-size: larger;
  text-shadow: 5px 5px 5px lightgray;
}

.logoComp{
  width: 4rem;
  height: 4rem;
}